<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static '/style.css' %}">
    <title>org_details</title>
</head>
<body>
    <div class="container">
        <div class="p-3 mb-2 bg-light text-dark">
            <div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight">
                    <!-- <h1>Hi, {{current_user.first_name}}</h1> -->
                </div>
                <div class="p-2 bd-highlight">
                    <a href="/groups">Dashboard</a>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>{{thisOrg.name}}</h2>
                    <p>{{thisOrg.desc}}</p>
                </div>
                <div class="col">
                    {% if current_user not in thisOrg.user_who_joined.all  %}
                        <a href="/join/{{thisOrg.id}}" class="btn btn-outline-primary">Join Group</a>
                    {% else %}
                        <a href="/leave/{{thisOrg.id}}" class="btn btn-outline-info">Leave Group</a>
                    {% endif %}
                </div>
                    <p>Created by: {{thisOrg.added_by.first_name}} {{thisOrg.added_by.last_name}}</p>
                </div>
                <div class="row">
                    <h6>Members:</h6>
                    {% for each_member in thisOrg.user_who_joined.all %} 
                        <p>{{each_member.first_name}} {{each_member.last_name}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>